body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0px;
  border: 2px solid #dad7d7;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header1 header2"
    "main main";
}

.header-left {
  grid-area: header1;
  height: 50px;
  border: 1px solid green;
  border-radius: 8px 0px 0px 0px;
  display: table;
  text-align: center;
}
.header-right {
  grid-area: header2;
  height: 50px;
  border: 1px solid green;
  border-radius: 0px 8px 0px 0px;
  display: table;
  text-align: center;
}
.poll-container {
  grid-area: main;
}

.header-text {
  font-family: 'Trebuchet MS';
  display: table-cell;
  vertical-align: middle;
}